.fade-in-box {
    animation: fadeIn 2s forwards;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        /* Start fully transparent */
    }

    to {
        opacity: 1;
        /* End fully visible */
    }
}

.active-link {
    border-bottom: 2px solid #2a83d6;
    /* Customize underline color */
}